:root {
  --toastify-color-dark: #ff0000;
  --toastify-text-color-dark: #fff;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
}

.Toastify__toast-theme--dark {
  background-color: var(--toastify-color-dark) !important;
}
